.dc_container {
    width: 100;
    overflow: hidden;
}

.dc {
    background-image: url(/src/assets/projects/dc/dc.png);
    background-size:2000px;
    background-repeat: repeat-x;
    animation: slide 10s linear infinite;
}

@keyframes slide {
    0% {
        background-position-x: 0px;
        }
    100% {
        background-position-x: -2000px;
    }
}

.dctext {
    height: 500px;
}