/* p {
  font-family: "Source Code Pro", monospace;
  font-optical-sizing: auto;
  font-style: normal;
  color: white;
}*/

/*h1 {
  font-family: "Source Code Pro", monospace;
  font-optical-sizing: auto;
  font-weight: 20px;
  font-style: normal;
  color: white;
}*/

@keyframes reelDown {
  from {
    top: -200px;
  }
  to {
    top: 0px;
  }
}

.reelbutton {
  width:100%;
  font-size:100%;
  border-radius:10px;
  border-style:double;
  border-color: rgba(136, 166, 231, 1);
  border-width:10px;
  background:rgba(8, 37, 117, 0.25);
  box-shadow: 8px 8px 16px rgba(4, 18, 54, 1);
  height:120px;
}

.reelbutton:hover {
  background:rgba(2, 11, 34, 0.25);
}

@keyframes slideIn {
  from {
    right: 80vh;
  }
  to {
    right: 0px;
  }
}

@keyframes slideOut {
  from {
    right: 0;
  }
  to {
    right: 80vh;
  }
}

.tempbackbutton {
  width:30%;
  /* height:60px; */
  font-size:100%;
  border-radius:10px;
  border-style:double;
  border-color: rgba(136, 166, 231, 1);
  border-width:10px;
  background:rgba(8, 37, 117, 0.25);
  box-shadow: 8px 8px 16px rgba(4, 18, 54, 1);
  position:absolute;
  left: 10px;
  top: 250px;
  color:white;
}

.tempbackbutton:hover {
  background:rgba(2, 11, 34, 0.25);
}