.projBtn {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 28vw;
    height: 21vw;
    border: 4px black solid;
    border-radius: 2px;
    cursor: pointer;
    filter: brightness(100%);
    transition: 0.15s;
    margin: 0.75vw;
    z-index: 0;

    @media screen and (max-width: 768px) {
        width: 44vw;
        height: 33vw;
    }
}

.projBtn:hover {
    filter: brightness(50%);
    margin-left: -0.25vw;
    margin-right: -0.25vw;
    margin-top: -0.75vw;
    margin-bottom: -0.75vw;
    width: 30vw;
    height: 22.5vw;
    z-index: 400;

    @media screen and (max-width: 768px) {
        width: 44vw;
        height: 33vw;
        margin: 0.75vw;
    }
}